.navigation .current-user {
  height: 32px;
  margin: 16px;
  color: #fff;
}
.navigation .current-user .name {
  padding-left: 0.5em;
}
.navigation .current-user .logout {
  color: rgba(255, 255, 255, 0.65);
  float: right;
  line-height: 2em;
}

.navigation .ant-menu .ant-menu-item > span,
.navigation .ant-menu .ant-menu-item > span > a {
  display: block;
}

.navigation a.nav-text {
  color: rgba(255, 255, 255, 0.65);
}
