.navigation .current-user {
  height: 32px;
  margin: 16px;
  color: #fff;
}
.navigation .current-user .name {
  padding-left: 0.5em;
}
.navigation .current-user .logout {
  float: right;
  line-height: 2em;
}
